RewriteEngine On

# Réécriture pour les fichiers PHP dans le dossier 'page'
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ pages/$1.php [L]

AuthType Basic
AuthName "Accès Protégé"
AuthUserFile .htpasswd
require valid-user
