AuthType Basic
AuthName "Accès Protégé"
AuthUserFile /wamp64/www/exo_PHP/.htpasswd
require valid-user

RewriteEngine On
DirectoryIndex public/index.php

RewriteCond %{REQUEST_URI} !public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ public/pages/$1.php [NC,L]

# Réécriture pour les fichiers PHP dans le dossier 'page'
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ public/index.php [QSA,L]



